html{
    font-family: 'Roboto Slab', serif;
    background-color: #fff ;
    margin: 0;
    padding: 0;
}

/*padrao bold*/
bold{
  color: #0f4343;
}
/*confuguração header*/
/*navbar superior*/
.navbar {
    background-image: url('img/placa\ de\ cores.png'); /* Replace 'path/to/your/image.jpg' with the actual path to your image file */
    background-size: cover;
  }

/*container quem somos*/
.container-quem-somos{
  padding-top: 100px;
}

.container-quem-somos h2{
  padding-top: 50px;
  padding-left: 190px;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
}

.container-quem-somos p{
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 190px;
  font-size: 21px;
}

/*container missao visao e valores*/
.container-missao-visao-valores{
  padding-top: 100px;
}

.container-missao-visao-valores h2{
  padding-top: 50px;
  padding-left: 190px;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
}

.container-missao-visao-valores h5{
  padding-top: 20px;
  padding-left: 190px;
  color: #0f4343;
  font-size: 30px;
  text-shadow: 2px 2px 4px #000000;
}

.container-missao-visao-valores p{
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 190px;
  font-size: 21px;
}

.container-missao-visao-valores ul{
  padding-left: 10px;
  margin-bottom: 50px;
  font-size: 21px;
}

/*container estrutura da empresa*/
.container-estrutura-da-empresa{
  background-color: #0f4343;
  padding-top: 100px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0), 5px 5px 15px rgb(0, 0, 0);        
}

.container-estrutura-da-empresa h2{
  color: #fff;
  padding-top: 20px;
  padding-left: 190px;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000;
}

.container-estrutura-da-empresa h3{
  color: #fff;
  padding-top: 50px;
  padding-left: 340px;
  font-size: 30px;
  text-transform: uppercase;
  opacity: 0.7;
}

.container-estrutura-da-empresa h4{
  color: #fff;
  padding-top: 50px;
  padding-left: 190px;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000;
}

.container-estrutura-da-empresa p{
  color: #fff;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 190px;
  font-size: 21px;
}

/*container categoria de servicos*/
.container-categorias-de-servicos p{
  color: #fff;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 190px;
  font-size: 21px;
}


/*imagens catergorias de servico*/
.img-categoria-de-servico{
  padding-top: 50px;
  margin-bottom: 100px;
}

.img-categoria-de-servico img{
  padding: 20px;
  padding-left: 300px;
}

.img-categoria-de-servico {
  display: flex;
}

.img-categoria-de-servico img {
  transition: transform 0.3s ease-in-out;
}

.img-categoria-de-servico img:hover {
  transform: scale(2.2); /* Ajuste o valor conforme necessário para o zoom desejado */
}

/*container instagram*/
.container-instagram i{
  color: #6c3c0c;
  padding-top: 10px;
  font-size: 50px;
  padding-left: 190px;
}

/*imagens instagram*/
.img-instagram{
  padding-top: 10px;
  padding-left: 190px;
}

.img-instagram img{
  padding: 10px;
}

.img-instagram {
  display: flex;
}

.img-instagram img {
  transition: transform 0.3s ease-in-out;
}

.img-instagram img:hover {
  transform: scale(2.2); /* Ajuste o valor conforme necessário para o zoom desejado */
}

/*botao instagram*/
.botao-instagram{
  padding-top: 10px;
  padding-left: 1120px;
}

/*configuracoes footer*/
footer{
  background-color: #0f4343;
  padding: 20px; /* Adicione o preenchimento desejado ao seu rodapé */
  margin-top: 100px; /* Remover margem superior padrão */
  margin-bottom: 0; /* Remover margem inferior padrão */
  position: relative;
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.8);
}

.footer-left,
.footer-right {
    display: inline-flex;
    flex-grow: 1;
}

ul {
    list-style: none;
    padding: 0;
}


footer ul li {
    margin-right: 10px;
    padding-left: 190px;
}

footer li{
  color: #fff;
}

ul li a {
    color: #fff;
    text-decoration: none;
}

.copyright {
    color: #fff;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-left: 210px;
    margin-right: 210px;
}

/*teste*/
.social-icons {
  display: flex;
  gap: 10px; /* Adjust spacing between circles */
  position: absolute;
  bottom: 10px; /* Adjust bottom position as needed */
  right: 260px; /* Adjust right position as needed */
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Set width and height for each circle */
  height: 40px;
  border-radius: 50%; /* Make it a circle */
  text-decoration: none;
  color: white;
}

.social-icons a:nth-child(1) {
  background-color: #964b00; /* Background color for the first link */
}

.social-icons a:nth-child(2) {
  background-color: #6c3c0c; /* Background color for the second link */
}

.social-icons a:nth-child(3) {
  background-color: #1c4514; /* Background color for the third link */
}
/*configuracao do botao para voltar para o topo*/
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #964b00;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}

#myBtn:hover {
  background-color: #964b00;
}

/*configuracao do botao do whatapp*/

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #00ff55; /* Blue color, adjust as needed */
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  display: none; /* Initially hide the button */
  z-index: 999; /* Ensure it's above other content */
  transition: background-color 0.3s ease-in-out;
}

#backToTop.active {
  display: block; /* Show the button when it's active (e.g., when scrolling down) */
}

#backToTop:hover {
  background-color: #6c3c0c; /* Darker blue color on hover */
}

/* Styles for the WhatsApp button */
#backToTop {
  position: fixed;
  width: 70px; /* Defina o tamanho do botão */
  height: 70px;
  bottom: 20px;
  right: 20px;
  background-color: #6c3c0c; /* Blue color, adjust as needed */
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  display: none; /* Initially hide the button */
  z-index: 999; /* Ensure it's above other content */
  transition: background-color 0.3s ease-in-out;
}

#backToTop.active {
  display: block; /* Show the button when it's active (e.g., when scrolling down) */
}

#backToTop:hover {
  background-color: #6c3c0c; /* Darker blue color on hover */
}

/* Styles for the WhatsApp button */
.whatsapp-button {
  position: fixed;
  width: 70px; /* Defina o tamanho do botão */
  height: 70px;
  bottom: 20px;
  right: 100px; /* Adjust right position to align with Back to Top button */
  background-color: #193314; /* WhatsApp green color */
  color: #fff;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  display: none; /* Initially hide the button */
  z-index: 999; /* Ensure it's above other content */
  transition: background-color 0.3s ease-in-out;
}

.whatsapp-button.active {
  display: block; /* Show the button when it's active (e.g., when scrolling down) */
}

.whatsapp-button:hover {
  background-color: #128C7E; /* WhatsApp green color on hover */
}

